#top_menu{
	display:flex;
	align-items: center;
	min-height:72px;
	padding:0 1em;
	li{
		display:inline-block;
		margin-right:1em;
		input {
			&:active,
			&:checked {
			& + .checkbox-label {
				color:#000;
				border-bottom:4px solid #000;
			}
			}
		}
		label{
			text-transform: capitalize;
			border-bottom:0px solid #000;
			transition:all .3s ease;
		}

    }
    @media screen and (max-width:767px) {
    	flex-direction:column-reverse;
  	}
  	#searchform{
  		margin-left:auto;
  		display: flex;
  		&::after{
    		width: 32px;
			height: 32px;
			display: inline-block;
			content: '';
			background:#000;
			-webkit-mask: url(../images/icons/search.svg) no-repeat 50% 50%;
    		mask: url(../images/icons/search.svg) no-repeat 50% 50%;
   			-webkit-mask-size: cover;
    		mask-size: cover;
    	}
  		input{
  			max-width:150px;
  			border-bottom:2px solid #dce2e8 !important;
	  		outline:none;
	  		border:none;
	  		background:none;	
	  		&::placeholder{
  				color:#dce2e8;
  			}
  		}
  		@media screen and (max-width:767px) {
    		margin:2em auto;
  		}
  		
  	}
  	#like_filter{
        cursor:pointer;
        margin-left:2em;
        height:42px;
        &::before{
            width: 42px;
            height: 42px;
            display: inline-block;
            content: '';
            background:#000;
            -webkit-mask: url(../images/icons/heart.svg) no-repeat 50% 50%;
            mask: url(../images/icons/heart.svg) no-repeat 50% 50%;
            -webkit-mask-size: cover;
            mask-size: cover;
        }
        &.selected::before{
        	background:#000;
        }
        @media screen and (max-width:767px) {
    		margin-left:auto;
    		padding-top:10px;
  		}
    }
}


ul.cd-filters.list{
  	margin:0;
  	padding:0;
	li{
		label{
			cursor:pointer;
		}
		input[type="radio"]{
			display:none;
		}
    }
}

#colorlib-main-menu{
	.filters_wrapper{
		margin-bottom:2em;
		span{
			cursor:pointer;
		}
		.cd-filter-block{
			max-height:0;
			overflow: hidden;
			font-weight:400;
			transition:all .5s ease;
			input {
			    &:active,
			    &:checked {
			      & + .checkbox-label {
			        color:#000;
			        font-weight: 800;
			      }
			    }
			}
			label{
				font-weight:400;
				text-transform: uppercase;
				font-size:.75em;
				transition:all .5s ease;
			}
			li{
				margin:10px 0 5px 0 !important;
			}
		}
	&.active .cd-filter-block{
		max-height:100vh !important;
	}

	}
}





