
$S:     480px;
$M:     768px;
$L:     1170px;
$XL:    1900px;

@mixin MQ($canvas) {
        @if $canvas == S {
                @media only screen and (min-width: $S) { @content; }
        }
        @else if $canvas == M {
                @media only screen and (min-width: $M) { @content; }
        }
        @else if $canvas == L {
                @media only screen and (min-width: $L) { @content; }
        }@else if $canvas == XL {
                @media only screen and (min-width: $XL) { @content; }
        }
}
.cd-main-content {
	position: relative;
	min-height: 100vh;
	&:after{
		content:'';
		display:table;
		clear:both;
	}

}
.cd-gallery {
	padding: 26px 5%;
	width: 100%;

	li {
		display:none;
		margin-bottom: 1.6em;
		&.gap {
			opacity: 0;
			height: 0;
			display: inline-block;
		}
	}
	.cd-fail-message {
		display: none;
		text-align: center;
	}

	@include MQ(M) {
		padding: 40px 3%;

		ul {
			&:after{
				content:'';
				display:table;
				clear:both;
			}
			text-align: justify;
		}

		li {
			width: 48%;
			margin-bottom: 2em;
		}
	}

	@include MQ(L) {
		padding: 50px 2%;
		float: right;
		transition:width .3s;

		li {
			width: 23%;
		}

		&.filter-is-visible {
			width: 80%;
		}
	}
	@include MQ(XL) {

		li {
			width: 20%;
		}

		&.filter-is-visible {
			width: 80%;
		}
	}
}
