#top_menu{
	display:flex;
	align-items: center;
	min-height:72px;
	padding:0 1em;
	li{
		display:inline-block;
		margin-right:1em;
		label{
			text-transform: capitalize;
			border-bottom:0px solid #f5c19a;
			transition:all .3s ease;
			&.current{
				font-weight:800;
				border-bottom:4px solid #f5c19a;
			}
		}

    }
  	#searchform{
  		margin-left:auto;
  		display: flex;
  		&::after{
    		width: 32px;
			height: 32px;
			display: inline-block;
			content: '';
			background:#000;
			-webkit-mask: url(../../images/icons/search.svg) no-repeat 50% 50%;
    		mask: url(../../images/icons/search.svg) no-repeat 50% 50%;
   			-webkit-mask-size: cover;
    		mask-size: cover;
    	}
  		input{
  			max-width:150px;
  			border-bottom:2px solid #dce2e8 !important;
	  		outline:none;
	  		border:none;
	  		background:none;	
	  		&::placeholder{
  				color:#dce2e8;
  			}
  		}
  		
  	}
}

ul.cd-filters.list{
  	margin:0;
  	padding:0;
	li{
		label{
			cursor:pointer;
		}
		input[type="radio"]{
			display:none;
		}
    }
}

#colorlib-main-menu{
	.filters_wrapper{
		margin-bottom:2em;
		span{
			cursor:pointer;
		}
		.cd-filter-block{
			max-height:0;
			overflow: hidden;
			font-weight:400;
			transition:all .5s ease;
			label{
				font-weight:400;
				text-transform: uppercase;
				font-size:.75em;
			}
			li{
				margin:10px 0 5px 0 !important;
			}
		}
	&.active{
		font-weight:800;
	}
	&.active .cd-filter-block{
		max-height:20vh !important;
	}

	}
}




