@font-face {
        font-family: 'futura';
        src:  url('../fonts/Futura-book?pycq84');
        src:  url('../fonts/Futura-book?pycq84#iefix') format('embedded-opentype'),
        url('../fonts/Futura-book.ttf?pycq84') format('truetype');
        font-weight: normal;
        font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
        font-family: 'futura' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size:20px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding:5px;
        margin:2px;
        background-color:#ffffff;
        display:inline-block;
        text-transform:uppercase;
}


.icon-animal:before {
        content: "animal";
}
.icon-child:before {
        content: "child";
}
.icon-sport:before {
        content: "sport";
}
.icon-motor:before {
        content: "motor";
}
.icon-food:before {
        content: "food";
}
.icon-holidays:before {
        content: "holidays";
}
.icon-business:before {
        content: "business";
}
.icon-news:before {
        content: "news";
}
.icon-jewelry:before {
        content: "jewelry";
}
.icon-traffic:before {
        content: "traffic";
}
.icon-bank:before {
        content: "bank";
}
.icon-story:before {
        content: "story";
}
.icon-slideshow:before {
        content: "slideshow";
}
.icon-market:before {
        content: "market";
}
.icon-hightech:before {
        content: "hightech";
}
.icon-nature:before {
        content: "nature";
}
.icon-man:before {
        content: "man";
}
.icon-woman:before {
        content: "woman";
}
.icon-video:before {
        content: "video";
}
.icon-fr:before {
        content: "fr";
        font-family:'futura', sans-serif;
        font-size:10px;
        vertical-align:middle;
}
.icon-en:before {
        content: "en";
        font-family:'futura', sans-serif;
        font-size:10px;
        vertical-align:middle;
}
.icon-it:before {
        content: "it";
        font-family:'futura', sans-serif;
        font-size:10px;
        vertical-align:middle;
}
.icon-es:before {
        content: "es";
        font-family:'futura', sans-serif;
        font-size:10px;
        vertical-align:middle;
}
.icon-de:before {
        content: "de";
        font-family:'futura', sans-serif;
        font-size:10px;
        vertical-align:middle;
}
