
@font-face {
  font-family: 'futura';
  src:  url('../fonts/Futura-book?pycq84');
  src:  url('../fonts/Futura-book?pycq84#iefix') format('embedded-opentype'),
  url('../fonts/Futura-book.ttf?pycq84') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *::after, *::before {
	box-sizing:border-box;
}

body{
  margin:0;
  padding:0;
  font-size:0.625em;
  font-family:'futura', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li{
  list-style-type: none;
}

.cd-fail-message{
  display: block;
  width: 150px;
  margin: 0 auto;
  border: 3px solid #222;
  text-transform: uppercase;
  padding: 1em;
  font-weight: 100;
}
