//- TAGS
-
  var tags = {
    languages : [
      "apac",
      "fr",
      "en",
      "es",
      "it",
      "de"
    ],
    type : [
      "display",
      "playlist",
      "video",
      "slideshow",
      "story"
    ],
    topic : [
      "woman",
      "man",
      "motor",
      "hightech",
      "bank",
      "business",
      "animal",
      "child",
      "sport",
      "food",
      "holidays",
      "jewelry",
      "nature",
      "health"
    ] 
  };      

//- CAMPAIGNS
-
  var campaigns =   [
  {
    name : "Listerine",
    tags : ["apac", "video", "man"],
    id : ["b38727cedeafa0a209a26d849f68077d"]
  },{
    name : "Visa",
    tags : ["apac", "display", "bank"],
    id : ["388baf880744b085d9e0ff31da525f8e"]
  },{
    name : "Emirates",
    tags : ["apac", "display", "holidays"],
    id : ["b5111a214f414b5af8082b3ed23ed168"]
  },{
    name : "Heineken",
    tags : ["apac", "display", "man"],
    id : ["6bb0cb9270dfa2b02f6451b0e660c1b7"]
  },{
    name : "Close Up",
    tags : ["apac", "display", "man"],
    id : ["22a9461987cff1b7ed794d3431877403"]
  },{
    name : "Nike",
    tags : ["apac", "display", "sport"],
    id : ["4fbc6922c107446f40102cd50e4c2405"]
  },{
    name : "Oreo",
    tags : ["apac", "video", "food"],
    id : ["73fc4cd89e7eea3ca47123cb53c9243e"]
  },{
    name : "Oreo",
    tags : ["apac", "display", "food"],
    id : ["dd319897adf6e00cdcfbe67e909c360f"]
  },{
    name : "Danone",
    tags : ["apac", "display", "child"],
    id : ["5101606b00edc190fa85d5e8796e8b5c"]
  },{
    name : "VanCleef",
    tags : ["apac", "display", "woman"],
    id : ["e00f69db3122c1b02eb8afc41238a8fd"]
  },{
    name : "Chanel",
    tags : ["apac", "video", "woman"],
    id : ["f5f559dedfdcfc903788643275534bcc"]
  },{
    name : "Chanel",
    tags : ["apac", "display", "woman"],
    id : ["14cf6ebdd8c5780556005e3c9d1e3192"]
  },{
    name : "SK-II",
    tags : ["apac", "display", "woman"],
    id : ["84c000c8fad8beec416abc90447cb4a4"]
  },{
    name : "Airfrance",
    tags : ["apac", "display", "holidays"],
    id : ["3e371f4a30437c3a683bb1d998d6dc94"]
  },{
    name : "Singapore Airlines",
    tags : ["apac", "video", "holidays"],
    id : ["c20a394bf9f40409b2a9a7a9a40cb7cb"]
  },{
    name : "Singapore Airlines",
    tags : ["apac", "display", "holidays"],
    id : ["ac42b8d3dfe97755e57553ba3b6622a5"]
  },{
    name : "Audi (Ad Domain)",
    tags : ["fr", "display", "motor"],
    id : ["04ae91e42f8969d9d6d3fe2f0a404e7e"]
  },
  {
    name : "Audi (Ad Domain)",
    tags : ["en", "display", "motor"],
    id : ["829060c330a5d312727d93f2552b2443"]
  },
  {
    name : "Audi (Ad Domain)",
    tags : ["es", "display", "motor"],
    id : ["af21d204dc21d355c874fe1001e0e894"]
  },
  {
    name : "DS3 display playlist",
    tags : ["fr", "playlist", "motor"],
    id : ["1ba47c0ccf0b295685f3c7556bbf18ae"]
  },
  {
    name : "Juanola",
    tags : ["es", "display", "health"],
    id : "7aac9abd24df1271f0d0ef4d1de81b9d"
  },{
    name : "Oceanografic de&nbsp;Valencia",
    tags : ["es", "display", "nature"],
    id : "37baef6df25767496fc52f78a0ee3261"
  },{
    name : "TOUS",
    tags : ["es", "display", "jewelry"],
    id : "fe0be12d3517b09364cfc4d979334417"
  },{
    name : "Melia Hotel",
    tags : ["es", "display", "holidays"],
    id : "225c4f8521f4d786aee21491adeee30d"
  },{
    name : "Decathlon",
    tags : ["es", "display", "sport"],
    id : "287d718a9e64857eea84a7e4cd1f94eb"
  },{
    name : "Gocco",
    tags : ["es", "display", "child"],
    id : "fe7054774746cc9bca4dc9537b1498ec"
  },{
    name : "Massimo Dutti",
    tags : ["es", "display", "man"],
    id : "1ca22c171fed6f56ec309e0b35b5870b"
  },{
    name : "Bayer",
    tags : ["de", "display", "health"],
    id : "b6ff16b7c647ba07d7b17b976df6e035"
  },{
    name : "Gardena",
    tags : ["de", "display", "nature"],
    id : "ee8e52705ae7534549e0e314ca15feb6"
  },{
    name : "Thomas Sabo",
    tags : ["de", "display", "jewelry"],
    id : "1e8c1c84377e412f13e12e08b35f00fc"
  },{
    name : "Haribo",
    tags : ["de", "display", "food"],
    id : "ca6066d88368d124fc23936d00997ad4"
  },{
    name : "Happy Dog",
    tags : ["de", "display", "animal"],
    id : "f39a801957cd508aaf80859141460bcc"
  },{
    name : "Aldi Süd",
    tags : ["de", "display", "business"],
    id : "83552a8c96ddcbe2c6dfd00283b31561"
  },{
    name : "Hugo Boss",
    tags : ["de", "display", "man"],
    id : "5c22267f6369fb4991c6d6856d06f248"
  },{
    name : "Santander",
    tags : ["es", "display", "bank"],
    id : "b866dad7fbb0a85761502fa0f041bbda"
  },{
    name : "Liilu",
    tags : ["de", "display", "child"],
    id : "f39718e721ebd2e16b30c10c473d93f1"
  },{
    name : "BQ",
    tags : ["es", "display", "hightech"],
    id : "c3154e07fcdfee3d5b98e120f05746e6"
  },{
    name : "Desigual",
    tags : ["es", "display", "woman"],
    id : "5a86ac0fe9dafd7d78d5df5aeb7b8ed9"
  },{
    name : "Nivea",
    tags : ["de", "display", "woman"],
    id : "69a1b6c4d853d10c12939e7d67eed72f"
  },{
    name : "Siemens",
    tags : ["de", "display", "hightech"],
    id : "86a3f5c2a158d367b0db85a6ddfb2223"
  },{
    name : "Presbytie",
    tags : ["fr", "story", "health"],
    id : "41e6a0d36c3efd35e1c1d4ce6167f6d5"
  },{
    name : "Center Parcs",
    tags : ["fr", "story", "holidays"],
    id : "12d13f49d9c04aee998f8437aeaa407d"
  },{
    name : "Adidas",
    tags : ["de", "display", "sport"],
    id : "3f44e927e46d5b335b3306db86b2b39b"
  },{
    name : "Lufthansa",
    tags : ["de", "display", "holidays"],
    id : "c3f7b4316a86ce479f893f3dcb3762ef"
  },{
    name : "Seat Leon",
    tags : ["es", "video", "motor"],
    id : "5a6822f8f1f301033dcf64f582c7f3fe"
  },{
    name : "Alienware",
    tags : ["fr", "display", "hightech"],
    id : "d35e6191fefe7bd49f2b544b291fa6e9"
  },{
    name : "Maisons du Monde",
    tags : ["fr", "display", "nature"],
    id : "9b4f3596787b252c7f66187ea6fa2b43"
  },{
    name : "M.A.C",
    tags : ["fr", "display", "woman"],
    id : "2451b1db82e0d22f5a116147f0169a8f"
  },{
    name : "Zara",
    tags : ["fr", "display", "woman"],
    id : "73e831d3f468ac6076a5505a696d36ac"
  },{
    name : "Bose",
    tags : ["fr", "display", "hightech"],
    id : "fdb3c476c75b767b2110ed634d89dbae"
  },{
    name : "Wilkinson",
    tags : ["fr", "video", "man"],
    id : "4401a015d21308a9bf301abf7011af15"
  },{
    name : "Tiffany & Co.",
    tags : ["fr", "video", "jewelry"],
    id : "1dc883509c0648cea876c675cbf57e63"
  },{
    name : "Hasbro",
    tags : ["fr", "video", "child"],
    id : "8cdfeaf4a9a0e5ed68ec6be8e6be658e"
  },{
    name : "Boiron",
    tags : ["fr", "video", "health"],
    id : "d87229a882a62e630bc68c763c98cc94"
  },{
    name : "Booking",
    tags : ["fr", "video", "holidays"],
    id : "a20bb26289b9331a59c9c97ba00719a0"
  },{
    name : "Royal Canin",
    tags : ["fr", "video", "animal"],
    id : "0de0e0df712e6b1b12517da79791c9a4"
  },{
    name : "Center Parcs",
    tags : ["fr", "video", "nature"],
    id : "6d3fcca4ec21fbf2a0e094ff88f4469d"
  },{
    name : "Amazon",
    tags : ["fr", "video", "business"],
    id : "de19ea005308fea7af8b0a19c99d28b8"
  },{
    name : "Samsung",
    tags : ["fr", "video", "hightech"],
    id : "23139ac3d58270955c33865fb359dbc1"
  },{
    name : "Décathlon",
    tags : ["fr", "video", "sport"],
    id : "af419869e4f67647aed75848a23047ec"
  },{
    name : "Cartier",
    tags : ["fr", "display", "jewelry"],
    id : "8efd6a375020fe08dd493a1625e7a334"
  },{
    name : "Décathlon",
    tags : ["fr", "display", "sport"],
    id : "63a6fc03d44da004d6eca41dcbe26b71"
  },{
    name : "Jacadi",
    tags : ["fr", "display", "child"],
    id : "abf12125cfa46322ea56d6de88d73255"
  },{
    name : "Célio",
    tags : ["fr", "display", "man"],
    id : "e0425db01f64a3c69b09fcd41edb0ca8"
  },{
    name : "Visit Corsica",
    tags : ["fr", "display", "nature"],
    id : "d5773d178d2c571e8821eddea3ab9544"
  },{
    name : "Caudalie",
    tags : ["fr", "display", "health"],
    id : "5a288d5661a7d85a371ce776673d5d8f"
  },{
    name : "Bonduelle",
    tags : ["fr", "display", "food"],
    id : "5c87969de917a6eafacd2127f558b044"
  },{
    name : "Mastercard",
    tags : ["de", "display", "bank"],
    id : "3650d4a64a4e9831a4ed0e5f04b1bedb"
  },{
    name : "Audi (Ad Domain)",
    tags : ["de", "display", "motor"],
    id : ["13a16a0efc444bb4040b26a65bcd7351"]
  },{
    name : "Audi",
    tags : ["de", "video", "motor"],
    id : "9b8ddce725b92549f5d96845702e62a6"
  },{
    name : "Axa",
    tags : ["fr", "display", "bank"],
    id : "e3310698f4eebcc50c7a4bd84294d62d"
  },{
    name : "Visit Barbados",
    tags : ["en", "video", "holidays"],
    id : "0f17014412da0f1f8011fac3fef30427"
  },{
    name : "Bezoya",
    tags : ["es", "display", "food"],
    id : "f023812f10244193673c4a7e4682c0e0"
  },{
    name : "Trenitalia",
    tags : ["it", "display", "holidays"],
    id : "40e255f7f48eebc8bfaa6efadd96f648"
  },{
    name : "Samsung",
    tags : ["it", "story", "hightech"],
    id : "5cef79388bc1b6bb502e4af660cdde4c"
  },{
    name : "Opel Mokka",
    tags : ["es", "display", "motor"],
    id : "ebd3862926e176d1277cdb6edc171439"
  },{
    name : "eBay",
    tags : ["es", "display", "business"],
    id : "0ea2c082cd60dd79b95cc3370fbf2606"
  },{
    name : "Air France",
    tags : ["fr", "display", "holidays"],
    id : "aa7d982943c74b42293cc44b622a9e1c"
  },{
    name : "American Tourister",
    tags : ["fr", "display", "holidays"],
    id : "b7c26cf0c870bcfce9e7e86e28200483"
  },{
    name : "Kenzo",
    tags : ["fr", "video", "woman"],
    id : "5394b7d43084a0755a52d533efe2843a"
  },{
    name : "BMW",
    tags : ["fr", "video", "motor"],
    id : "9ed8ed33132e2d410d67eb58e4b92468"
  },{
    name : "Burberry",
    tags : ["en", "display", "woman"],
    id : "65797de1f1ee06675185f6582a52747b"
  },{
    name : "Burberry",
    tags : ["en", "slideshow", "woman"],
    id : "f9b81c794af776a3846bac2ec0301a5b"
  },{
    name : "Audi",
    tags : ["fr", "video", "motor"],
    id : "e092f75cdee7c8004e3fc92d62be46aa"
  },{
    name : "Royal Canin",
    tags : ["fr", "display", "animal"],
    id : "6dbb98366d98781b705b12e72db65885"
  },{
    name : "Gucci",
    tags : ["fr", "slideshow", "jewelry"],
    id : "de6c4ff9a4962157e82a9b594548d648"
  },{
    name : "American Airlines",
    tags : ["en", "display", "holidays"],
    id : "b4db8d71f256289184a81685f37c00cd"
  },{
    name : "Van Cleef & Arpels",
    tags : ["fr", "display", "woman"],
    id : "9aa5a069d9b888f9ce624f084559a592"
  },{
    name : "Poison Girls",
    tags : ["fr", "display", "woman"],
    id : "4eefe309c1a2d8f75b5d12920e6f25d0"
  },{
    name : "Ducati",
    tags : ["en", "display", "motor"],
    id : "8de4501fda7e127447f3ec25c5472f77"
  },{
    name : "Citroen DS3",
    tags : ["fr", "display", "motor"],
    id : "f6e5c2ed162002f890b3102e06f2b38f"
  },{
    name : "ING",
    tags : ["fr", "display", "bank"],
    id : "80391e6327760f97f0a0296b474bd13d"
  },{
    name : "Parrot",
    tags : ["fr", "display", "hightech"],
    id : "43322cc8b4338698b48864ea98809ad7"
  },{
    name : "Carrefour",
    tags : ["fr", "display", "business"],
    id : "66e83956ffc2e99635ab70636be3f0a6"
  }];
