//- TAGS
-
  var tags = {
    languages : [
      "fr",
      "en",
      "es",
      "it"
    ],
    type : [
      "traffic",
      "video",
      "slideshow",
      "story"
    ],
    topic : [
      "woman",
      "man",
      "motor",
      "hightech",
      "bank",
      "business",
      "animal",
      "child",
      "sport",
      "food",
      "holidays",
      "news",
      "jewelry",
      "nature"
    ]
  };

//- CAMPAIGNS
-
  var campaigns =   [{
    name : "Visit Barbados",
    tags : ["en", "video", "holidays"],
    id : "0f17014412da0f1f8011fac3fef30427"
  },{
    name : "Perfect Cosmetic",
    tags : ["en", "video", "woman"],
    id : "628d28787b7ad82720cd7a73c80636ff"
  },{
    name : "Bezoya",
    tags : ["es", "traffic", "food"],
    id : "f023812f10244193673c4a7e4682c0e0"
  },{
    name : "Trenitalia",
    tags : ["it", "traffic", "holidays"],
    id : "40e255f7f48eebc8bfaa6efadd96f648"
  },{
    name : "Samsung",
    tags : ["it", "story", "hightech"],
    id : "5cef79388bc1b6bb502e4af660cdde4c"
  },{
    name : "Opel Mokka",
    tags : ["es", "traffic", "motor"],
    id : "ebd3862926e176d1277cdb6edc171439"
  },{
    name : "eBay",
    tags : ["es", "traffic", "business"],
    id : "0ea2c082cd60dd79b95cc3370fbf2606"
  },{
    name : "Air France",
    tags : ["fr", "traffic", "holidays"],
    id : "aa7d982943c74b42293cc44b622a9e1c"
  },{
    name : "American Tourister",
    tags : ["fr", "traffic", "holidays"],
    id : "b7c26cf0c870bcfce9e7e86e28200483"
  },{
    name : "Kenzo",
    tags : ["fr", "video", "woman"],
    id : "5394b7d43084a0755a52d533efe2843a"
  },{
    name : "BMW",
    tags : ["fr", "video", "motor"],
    id : "9ed8ed33132e2d410d67eb58e4b92468"
  },{
    name : "Burberry",
    tags : ["en", "traffic", "woman"],
    id : "65797de1f1ee06675185f6582a52747b"
  },{
    name : "Burberry",
    tags : ["en", "slideshow", "woman"],
    id : "f9b81c794af776a3846bac2ec0301a5b"
  },{
    name : "Audi",
    tags : ["fr", "video", "motor"],
    id : "e092f75cdee7c8004e3fc92d62be46aa"
  },{
    name : "Royal Canin",
    tags : ["fr", "traffic", "animal"],
    id : "6dbb98366d98781b705b12e72db65885"
  },{
    name : "Gucci",
    tags : ["fr", "slideshow", "jewelry"],
    id : "de6c4ff9a4962157e82a9b594548d648"
  },{
    name : "American Airlines",
    tags : ["en", "traffic", "holidays"],
    id : "b4db8d71f256289184a81685f37c00cd"
  },{
    name : "Van Cleef & Arpels",
    tags : ["fr", "traffic", "woman"],
    id : "9aa5a069d9b888f9ce624f084559a592"
  },{
    name : "Poison Girls",
    tags : ["fr", "traffic", "woman"],
    id : "4eefe309c1a2d8f75b5d12920e6f25d0"
  },{
    name : "Ducati",
    tags : ["fr", "traffic", "motor"],
    id : "8de4501fda7e127447f3ec25c5472f77"
  },{
    name : "Citroen DS3",
    tags : ["fr", "traffic", "motor"],
    id : "f6e5c2ed162002f890b3102e06f2b38f"
  },{
    name : "ING",
    tags : ["fr", "traffic", "bank"],
    id : "80391e6327760f97f0a0296b474bd13d"
  },{
    name : "Parrot",
    tags : ["fr", "traffic", "hightech"],
    id : "43322cc8b4338698b48864ea98809ad7"
  },{
          name : "Carrefour",
          tags : ["fr", "traffic", "business"],
          id : "66e83956ffc2e99635ab70636be3f0a6"
  }];
