//- TAGS
-
        var tags = {
                languages : [
                        "french",
                        "english",
                        "spanish",
                        "italian"
                ],
                type : [
                        "traffic",
                        "video",
                        "slideshow",
                        "story"
                ],
                topic : [
                        "woman",
                        "man",
                        "motor",
                        "hightech",
                        "bank",
                        "business",
                        "animal",
                        "child",
                        "sport",
                        "food",
                        "hollidays",
                        "news",
                        "jewelry",
                        "bank",
                        "nature"
                ]
        };

//- CAMPAIGNS
-
        var campaigns = [{
                name : "Burberry",
                tags : ["english", "traffic", "woman"],
                id : "65797de1f1ee06675185f6582a52747b"
        },{
                name : "Burberry",
                tags : ["english", "slideshow", "woman"],
                id : "f9b81c794af776a3846bac2ec0301a5b"
        },{
                name : "Audi",
                tags : ["french", "video", "motor"],
                id : "e092f75cdee7c8004e3fc92d62be46aa"
        },{
                name : "Royal Canin",
                tags : ["french", "traffic", "animal"],
                id : "6dbb98366d98781b705b12e72db65885"
        },{
                name : "Gucci",
                tags : ["french", "slideshow", "jewelry"],
                id : "de6c4ff9a4962157e82a9b594548d648"
        },{
                name : "American Airlines",
                tags : ["english", "traffic", "hollidays"],
                id : "b4db8d71f256289184a81685f37c00cd"
        },{
                name : "Van Cleef & Arpels",
                tags : ["french", "traffic", "woman"],
                id : "9aa5a069d9b888f9ce624f084559a592"
        },{
                name : "Poison Girls",
                tags : ["french", "traffic", "woman"],
                id : "4eefe309c1a2d8f75b5d12920e6f25d0"
        },{
                name : "Ducati",
                tags : ["french", "traffic", "motor"],
                id : "8de4501fda7e127447f3ec25c5472f77"
        },{
                name : "Citroen DS3",
                tags : ["french", "traffic", "motor"],
                id : "f6e5c2ed162002f890b3102e06f2b38f"
        },{
                name : "ING",
                tags : ["french", "traffic", "bank"],
                id : "80391e6327760f97f0a0296b474bd13d"
        },{
                name : "Parrot",
                tags : ["french", "traffic", "hightech"],
                id : "43322cc8b4338698b48864ea98809ad7"
        },{
                name : "Carrefour",
                tags : ["french", "traffic", "business"],
                id : "66e83956ffc2e99635ab70636be3f0a6"
        }];
