//- TAGS
-
  var tags = {
    languages : [
      "fr",
      "en",
      "es",
      "it",
      "de"
    ],
    type : [
      "traffic",
      "video",
      "slideshow",
      "story"
    ],
    topic : [
      "woman",
      "man",
      "motor",
      "hightech",
      "bank",
      "business",
      "animal",
      "child",
      "sport",
      "food",
      "holidays",
      "jewelry",
      "nature",
      "health"
    ] 
  };      

//- CAMPAIGNS
-
  var campaigns =   [{
    name : "Seat Leon",
    tags : ["es", "video", "motor"],
    id : "5a6822f8f1f301033dcf64f582c7f3fe"
  },{
    name : "Alienware",
    tags : ["fr", "traffic", "hightech"],
    id : "d35e6191fefe7bd49f2b544b291fa6e9"
  },{
    name : "Maison du Monde",
    tags : ["fr", "traffic", "nature"],
    id : "9b4f3596787b252c7f66187ea6fa2b43"
  },{
    name : "M.A.C",
    tags : ["fr", "traffic", "woman"],
    id : "2451b1db82e0d22f5a116147f0169a8f"
  },{
    name : "Zara",
    tags : ["fr", "traffic", "woman"],
    id : "73e831d3f468ac6076a5505a696d36ac"
  },{
    name : "Bose",
    tags : ["fr", "traffic", "hightech"],
    id : "fdb3c476c75b767b2110ed634d89dbae"
  },{
    name : "Wilkinson",
    tags : ["fr", "video", "man"],
    id : "4401a015d21308a9bf301abf7011af15"
  },{
    name : "Tiffany & Co.",
    tags : ["fr", "video", "jewelry"],
    id : "1dc883509c0648cea876c675cbf57e63"
  },{
    name : "Hasbro",
    tags : ["fr", "video", "child"],
    id : "8cdfeaf4a9a0e5ed68ec6be8e6be658e"
  },{
    name : "Boiron",
    tags : ["fr", "video", "health"],
    id : "d87229a882a62e630bc68c763c98cc94"
  },{
    name : "Booking",
    tags : ["fr", "video", "holidays"],
    id : "a20bb26289b9331a59c9c97ba00719a0"
  },{
    name : "Royal Canin",
    tags : ["fr", "video", "animal"],
    id : "0de0e0df712e6b1b12517da79791c9a4"
  },{
    name : "Center Parcs",
    tags : ["fr", "video", "nature"],
    id : "6d3fcca4ec21fbf2a0e094ff88f4469d"
  },{
    name : "Amazon",
    tags : ["fr", "video", "business"],
    id : "de19ea005308fea7af8b0a19c99d28b8"
  },{
    name : "Samsung",
    tags : ["fr", "video", "hightech"],
    id : "23139ac3d58270955c33865fb359dbc1"
  },{
    name : "Décathlon",
    tags : ["fr", "video", "sport"],
    id : "af419869e4f67647aed75848a23047ec"
  },{
    name : "Panzani",
    tags : ["fr", "video", "food"],
    id : "655108a49ba4170c40cc2234e19403d6"
  },{
    name : "Cartier",
    tags : ["fr", "traffic", "jewelry"],
    id : "8efd6a375020fe08dd493a1625e7a334"
  },{
    name : "Décathlon",
    tags : ["fr", "traffic", "sport"],
    id : "63a6fc03d44da004d6eca41dcbe26b71"
  },{
    name : "Jacadi",
    tags : ["fr", "traffic", "child"],
    id : "abf12125cfa46322ea56d6de88d73255"
  },{
    name : "Célio",
    tags : ["fr", "traffic", "man"],
    id : "e0425db01f64a3c69b09fcd41edb0ca8"
  },{
    name : "Visit Corsica",
    tags : ["fr", "traffic", "nature"],
    id : "d5773d178d2c571e8821eddea3ab9544"
  },{
    name : "Caudalie",
    tags : ["fr", "traffic", "health"],
    id : "5a288d5661a7d85a371ce776673d5d8f"
  },{
    name : "Bonduelle",
    tags : ["fr", "traffic", "food"],
    id : "5c87969de917a6eafacd2127f558b044"
  },{
    name : "Mastercard",
    tags : ["de", "traffic", "bank"],
    id : "3650d4a64a4e9831a4ed0e5f04b1bedb"
  },{
    name : "Audi",
    tags : ["de", "traffic", "motor"],
    id : "979bb56fa575751f6d531e64a46473ca"
  },{
    name : "Audi",
    tags : ["de", "video", "motor"],
    id : "9b8ddce725b92549f5d96845702e62a6"
  },{
    name : "Axa",
    tags : ["fr", "traffic", "bank"],
    id : "e3310698f4eebcc50c7a4bd84294d62d"
  },{
    name : "Visit Barbados",
    tags : ["en", "video", "holidays"],
    id : "0f17014412da0f1f8011fac3fef30427"
  },{
    name : "Perfect Cosmetic",
    tags : ["en", "video", "woman"],
    id : "628d28787b7ad82720cd7a73c80636ff"
  },{
    name : "Bezoya",
    tags : ["es", "traffic", "food"],
    id : "f023812f10244193673c4a7e4682c0e0"
  },{
    name : "Trenitalia",
    tags : ["it", "traffic", "holidays"],
    id : "40e255f7f48eebc8bfaa6efadd96f648"
  },{
    name : "Samsung",
    tags : ["it", "story", "hightech"],
    id : "5cef79388bc1b6bb502e4af660cdde4c"
  },{
    name : "Opel Mokka",
    tags : ["es", "traffic", "motor"],
    id : "ebd3862926e176d1277cdb6edc171439"
  },{
    name : "eBay",
    tags : ["es", "traffic", "business"],
    id : "0ea2c082cd60dd79b95cc3370fbf2606"
  },{
    name : "Air France",
    tags : ["fr", "traffic", "holidays"],
    id : "aa7d982943c74b42293cc44b622a9e1c"
  },{
    name : "American Tourister",
    tags : ["fr", "traffic", "holidays"],
    id : "b7c26cf0c870bcfce9e7e86e28200483"
  },{
    name : "Kenzo",
    tags : ["fr", "video", "woman"],
    id : "5394b7d43084a0755a52d533efe2843a"
  },{
    name : "BMW",
    tags : ["fr", "video", "motor"],
    id : "9ed8ed33132e2d410d67eb58e4b92468"
  },{
    name : "Burberry",
    tags : ["en", "traffic", "woman"],
    id : "65797de1f1ee06675185f6582a52747b"
  },{
    name : "Burberry",
    tags : ["en", "slideshow", "woman"],
    id : "f9b81c794af776a3846bac2ec0301a5b"
  },{
    name : "Audi",
    tags : ["fr", "video", "motor"],
    id : "e092f75cdee7c8004e3fc92d62be46aa"
  },{
    name : "Royal Canin",
    tags : ["fr", "traffic", "animal"],
    id : "6dbb98366d98781b705b12e72db65885"
  },{
    name : "Gucci",
    tags : ["fr", "slideshow", "jewelry"],
    id : "de6c4ff9a4962157e82a9b594548d648"
  },{
    name : "American Airlines",
    tags : ["en", "traffic", "holidays"],
    id : "b4db8d71f256289184a81685f37c00cd"
  },{
    name : "Van Cleef & Arpels",
    tags : ["fr", "traffic", "woman"],
    id : "9aa5a069d9b888f9ce624f084559a592"
  },{
    name : "Poison Girls",
    tags : ["fr", "traffic", "woman"],
    id : "4eefe309c1a2d8f75b5d12920e6f25d0"
  },{
    name : "Ducati",
    tags : ["en", "traffic", "motor"],
    id : "8de4501fda7e127447f3ec25c5472f77"
  },{
    name : "Citroen DS3",
    tags : ["fr", "traffic", "motor"],
    id : "f6e5c2ed162002f890b3102e06f2b38f"
  },{
    name : "ING",
    tags : ["fr", "traffic", "bank"],
    id : "80391e6327760f97f0a0296b474bd13d"
  },{
    name : "Parrot",
    tags : ["fr", "traffic", "hightech"],
    id : "43322cc8b4338698b48864ea98809ad7"
  },{
    name : "Carrefour",
    tags : ["fr", "traffic", "business"],
    id : "66e83956ffc2e99635ab70636be3f0a6"
  }];
