doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    title Campaign
    style(type="text/css").
      body{
        margin:0;
        padding:0;
        height:100vh;
            }
      body > div {
        margin:8% auto 0 auto;
      }
  body
    script(type="text/javascript").
      var camp = window.frameElement.getAttribute('data-camp');
      var track = window.frameElement.getAttribute('data-track');
      var crea = window.frameElement.getAttribute('data-crea');
      var src = function() {
        track = track ? "&Track=" + track : "";
        crea = crea ? "&Creative=" + crea : "";
        return "//fo-api.omnitagjs.com/fo-api/ot.js?Placement=469c1aab587300f0fdd83cd63e8f6bc4&Campaign=" + camp + track + crea;
      }
      var o = document.createElement('script');
      o.setAttribute('src', src());
      o.setAttribute('type', 'text/javascript');
      o.setAttribute('async','true');
      document.body.appendChild(o);
