doctype html
html(lang="fr")
        head
                meta(charset="utf-8")
                title Catalogue de campagnes
                link(rel="stylesheet", media="all", href="styles/main.css")
                link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        body
                include parts/campaigns.pug


                mixin campaigns(items)
                        each val, index in items
                                li.tile(class= val.tags.join(" "))
                                        .info
                                                h3.title!= val.name
                                                pre.id!= val.id
                                        iframe(scrolling="no", class="frame invisible", width="300", height="250", frameBorder="0", data-src="iframe.html" data-camp!= val.id)
                                        .tags-wrapper
                                                each value in val.tags
                                                        i(class="icon-" + value)
                                        .trigger click to see campaign


                mixin nav(items)
                        - i = 0;
                        each item in items
                                each val in item
                                        buttons.sorter(class=Object.keys(items)[i], data-filter=val)!= val
                                - i++

                .nav
                        +nav(tags)
                #main-container
                        ul#wrapper
                                +campaigns(campaigns)

                script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js", type="text/javascript")
                script(src="scripts/sdFilterMe.js", type="text/javascript")
                script(src="scripts/main.js", type="text/javascript")
