doctype html
html(lang="fr")
  head

    script(async="true", src="https://www.googletagmanager.com/gtag/js?id=UA-37971324-1")
    script.
      window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-37971324-1');
    meta(charset="utf-8")
    title Catalogue de campagnes
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", media="all", href="./styles/main.css")
    link(rel="shortcut icon", href="images/favicon.png", type="image/x-icon")
    body

      mixin filters(items)
        each item in items
          div(class="cd-filter-block " + item)
            //-h5.filter-title 
            ul.cd-filter-content.cd-filters.list
              li.input-container
                input.filter(data-filter="*", type="radio", id="checkbox-all-" + item, name= item, checked)
                label.checkbox-label(for="checkbox-all-" + item) all

main.cd-main-content
      #colorlib-page
        a.js-colorlib-nav-toggle.colorlib-nav-toggle(href='#')
          i
        aside#colorlib-aside.js-fullheight.text-center(role='complementary')
          h1#colorlib-logo
            a(href='index.html')
              img#logo(src="images/logo.png", alt="logo")
              span Campaigns Catalog
          nav#colorlib-main-menu(role='navigation').filters-container.filter-wrapper
            div.filters_wrapper.active 
              span Countries
              +filters(["geo"])
            div.filters_wrapper
              span Categories
              +filters(["iab"])
          footer.colorlib-footer copyright ©2020
   
      #colorlib-main
        div#errormessage
        nav#top_menu.filters-container.filter-wrapper
          +filters(["type"])
          div#searchform
            form
              div.cd-filter-content.text-filter-content
                //-label.text-filter-label(for="text-filter") Search :
                input.text-filter-input(type="search", id="text-filter",placeholder="Search")
                //span.border
          span#like_filter.like
        section.ftco-section-2.cd-gallery
              ul#campaigns.row.no-gutters
              div.cd-fail-message no results...

      script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js", type="text/javascript")
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js", type="text/javascript")
      script(src="scripts/jquery.mixitup.min.js", type="text/javascript")
      script(src="scripts/jquery.magnific-popup.min.js")
      script(src="scripts/copy.js")
     
      
      script(src="scripts/main.js", type="text/javascript")
