doctype html
html(lang="fr")
  head

    script(async="true", src="https://www.googletagmanager.com/gtag/js?id=UA-37971324-1")
    script.
      window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-37971324-1');
    meta(charset="utf-8")
    title Catalogue de campagnes
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", media="all", href="./styles2/main.css")
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    body

      mixin filters(items)
        each item in items
          div(class="cd-filter-block " + item)
            h5.filter-title item
            ul.cd-filter-content.cd-filters.list
              li.input-container
                input.filter(data-filter="*", type="radio", id="checkbox-all-" + item, name= item, checked)
                label.checkbox-label(for="checkbox-all-" + item) all

      main.cd-main-content
        div#filters
          div.logo-container.filter-wrapper
            img.logo(src="images/logo.png", alt="logo")
          div.filters-container.filter-wrapper
            
            +filters(["geo", "type", "iab"])

          div.text-search-container.filter-wrapper
            div.cd-filter-block
              form
                div.cd-filter-content.text-filter-content
                  input.text-filter-input(type="search", id="text-filter", required)
                  span.border
                  label.text-filter-label(for="text-filter") Search :
        section.cd-gallery
          ul#campaigns
          div.cd-fail-message no results

      div#overflay-iframe-container
        div.iframe-container(scrolling="no", frameborder="0")
          #close-iframe Close demo
          iframe.campaign-iframe

      script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js", type="text/javascript")
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js", type="text/javascript")
      script(src="scripts/jquery.mixitup.min.js", type="text/javascript")
      script(src="scripts/main.js", type="text/javascript")
