doctype html
html(lang="fr")
        head
                meta(charset="utf-8")
                title Catalogue de campagnes
                link(rel="stylesheet", media="all", href="styles/main.css")
                link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
        body

                include parts/campaigns.pug

                mixin campaigns(items)

                        each val, index in items
                                li.mix(class!= val.tags.join(" ") + ' ' + val.name)
                                        div.mix-infos
                                                .info
                                                        h3.title!= val.name
                                                        pre.id!= val.id
                                                .tags-wrapper
                                                        each value in val.tags
                                                                i(class="icon-" + value)
                                                .trigger click to see
                                                div.overlay-infos
                        - i = 0;
                        while i < parseInt(items.length / 4)
                                li.gap
                                - i++

                mixin nav(items)
                        - i = 0;
                        each item in items
                                div.cd-filter-block(class=Object.keys(items)[i])
                                        ul.cd-filter-content.cd-filters.list
                                                each val in item
                                                        li.input-container
                                                                input.filter(data-filter="."+val, type="checkbox" id="checkbox-"+val)
                                                                label.checkbox-label(for="checkbox-"+val)!= val
                                                - i++

                main.cd-main-content
                        div.cd-filter-block
                                form
                                        div.cd-filter-content
                                                input(type="search", placeholder="Search...")
                        +nav(tags)
                        section.cd-gallery
                                ul
                                        +campaigns(campaigns)
                                div.cd-fail-message no results

                div#overflay-iframe-container
                        div.iframe-container(scrolling="no", frameborder="0")
                                #close-iframe close
                                iframe.campaign-iframe

                script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js", type="text/javascript")
                script(src="scripts/jquery.mixitup.min.js", type="text/javascript")
                script(src="scripts/main.js", type="text/javascript")
